html{
  color: white;
  font-family: sans-serif;
  background-color: black;
  text
}
li, p, h1, h3, .menu, .contact{
  text-align: center;
}
ul{
  list-style-type: none;
  /* text-align: center; */
}
a.options{
  text-decoration: none;
  border: 1px solid #FCBC52;
  color: white;
  padding: 15px;
  font-size: 15pt;
  border-radius: 5px;
}
.menu{
  padding-top: 25px;
}
.title_image{
  height: 100;
  width: 200;
}

a:visited{
  color: white;
  text-decoration: none;
}
.customer{
  /* border: 5px solid lightgrey; */
  margin: auto;
}
.customer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
.quotes{
  font-size: 20pt;
}
a.email{
  text-decoration: none;
  text-align: center;
  color: white;
}
.atv_utv, .dirtbike, .saber, .snowmobile, .motorcycle{
  margin: auto;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px;
  /* border: 1px solid pink; */
}

h3{
  /* color: #fcb338; */
}
body{
  /* color: white; */
  height: auto%;
  /* border: 1px solid hotpink; */
}
.content{
  /*border: 1px solid aqua;*/
  width: 100%;
  height: inherit;
  /* padding-left: 50px;
  padding-right: 50px; */
  /* margin-left: auto;
  margin-right: auto; */
}
.contact{
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  /* border: 1px solid purple; */
}
.name{
  height: auto;
  /* border: 2px solid white; */
}
.info_half{
  /* border: 1px solid red; */
  /* height: inherit; */
  font-size: 25pt;
}

.info{
  font-size: 15pt;
  float: right;
  /* border: 2px solid teal; */
}
.info p{
  display: block;
}
.contact img{
  height: 250px;
  border-radius: 5px;
}
.name{
  font-size: 27pt;
  /* border: 1px solid pink; */
  /* float: right; */
  /* margin: auto; */
}
.img_half, .info_half{
  float: left;
  display: flex;
}
.img_half{
  flex: 60%;
}
.info_half{
  flex: 35%;
}
