html{
  color: white;
  font-family: sans-serif;
  background-color: black;
  /* margin-left: 5%;
  margin-right: 5% */
}
.details{
  /* border: 2px solid pink; */
  display: 30%;
  text-align: left;
  margin-left: 5%;
  overflow: auto;
}
h1, .menu, .contact, .reference, label{
  text-align: center;
}
.reference{
  font-size: 15pt;
}
.menu{
  /* border: 2px solid teal; */
}
a.options{
  text-decoration: none;
  border: 1px solid #FCBC52;
  display: block;
  float: left;
  color: white;
  padding: 1%;
  margin: 5px;
  font-size: 15pt;
  border-radius: 10px;
}
.menu{
  padding-top: 1.5%;
}
.title_image{
  height: 100;
  width: 200;
}

a:visited{
  color: white;
  text-decoration: none;
}
.customer{
  /* border: 5px solid lightgrey; */
  margin: auto;
}
.customer{
  /* border: 1px solid red; */
}
.customer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid pink; */
  width: 100%;
}
.quotes{
  font-size: 20pt;
}
a.email{
  text-decoration: none;
  text-align: center;
  color: white;
}

h3, label{
  color: #fcb338;
}
body{
  /* color: white; */
  height: auto;
  width: 95%;
  /* border: 1px solid hotpink; */
}
.content{
  /* border: 1px solid aqua; */
  width: 100%;
  height: inherit;
  display: inline-flex;
  flex-direction: row;
  /* padding-left: 2.5%; */
  /*padding-right: 50px; */
  /* margin-left: auto;
  margin-right: auto; */
}

.contact{
  font-size: 15pt;
  margin: auto;
  /* border: 2px solid teal; */
}
.info p{
  display: block;
}
.logo img{
  height: 37.5%;
  border-radius: 10px;
  border: 2px solid #F12D25;
  margin: auto;
  display: block;
}
.name{
  font-size: 21pt;
}
